<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Rapid Fullstack Development</title>
    <meta name="description" content="A new book by Ashley Davis: Learn to be an efficient and effective developer across the stack.">

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, viewport-fit=cover">

    <link rel="shortcut icon" href="/assets/images/favicomatic/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/images/favicomatic/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/favicomatic/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/favicomatic/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/favicomatic/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/images/favicomatic/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/images/favicomatic//assets/images/favicomatic/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/images/favicomatic/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/images/favicomatic/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/assets/images/favicomatic/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/assets/images/favicomatic/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/assets/images/favicomatic/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/assets/images/favicomatic/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/assets/images/favicomatic/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/assets/images/favicomatic/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/assets/images/favicomatic/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/assets/images/favicomatic/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/assets/images/favicomatic/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/assets/images/favicomatic/mstile-310x310.png" />

    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- https://www.joshuarudd.com/typeset.css/ -->
    <link rel="stylesheet" type="text/css" href="/assets/css/typeset.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/tailwind.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/chapter-styles.css" />
	<link rel="stylesheet" type="text/css" href="/assets/css/sidebar.css" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://rapidfullstackdevelopment.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Rapid Fullstack Development">
    <meta property="og:description" content="A new book by Ashley Davis: Learn to be an efficient and effective developer across the stack.">
    <meta property="og:image" content="https://rapidfullstackdevelopment.com/coding-cycle.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="rapidfullstackdevelopment.com">
    <meta property="twitter:url" content="https://rapidfullstackdevelopment.com/">
    <meta name="twitter:title" content="Rapid Fullstack Development">
    <meta name="twitter:description" content="A new book by Ashley Davis: Learn to be an efficient and effective developer across the stack.">
    <meta name="twitter:image" content="https://rapidfullstackdevelopment.com/coding-cycle.png">

    <!-- https://prismjs.com/ -->
    <!-- https://cdnjs.com/libraries/prism -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/themes/prism.min.css" integrity="sha512-tN7Ec6zAFaVSG3TpNAKtk4DOHNpSwKHxxrsiw4GHKESGPs5njn/0sMCUMl2svV4wo4BK/rCP7juYz+zx+l6oeQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="/assets/css/vs-code-theme.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MCP3RM6ZN8"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-MCP3RM6ZN8');
    </script>    
    
</head>
<body>

    <div id="sidebar">
        {% include "../partials/sidebar.html" %}
    </div>
    <div id="content">
        <button id="menu-button" class="text-2xl w-8" onclick="toggleSidebar(event)">
            |||
        </button>

        <main class="content rounded-sm lg:shadow-lg" onclick="closeSidebar(event)">
            <div class="inner">
                {{content}}
    
                {% include "../partials/subscribe-section.html" %}
            </div>
        </main>    
    </div>

    <script>
        function toggleSidebar() {
            document.body.classList.toggle("open"); 
        }

        function closeSidebar() {
            document.body.classList.remove("open"); 
        }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/components/prism-core.min.js" integrity="sha512-LCKPTo0gtJ74zCNMbWw04ltmujpzSR4oW+fgN+Y1YclhM5ZrHCZQAJE4quEodcI/G122sRhSGU2BsSRUZ2Gu3w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/plugins/autoloader/prism-autoloader.min.js" integrity="sha512-GP4x8UWxWyh4BMbyJGOGneiTbkrWEF5izsVJByzVLodP8CuJH/n936+yQDMJJrOPUHLgyPbLiGw2rXmdvGdXHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
