<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Rapid Fullstack Development</title>
    <meta name="description" content="A new book by Ashley Davis: Learn to be an efficient and effective developer across the stack.">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, viewport-fit=cover">

    <link rel="shortcut icon" href="favicon.ico">

    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- https://www.joshuarudd.com/typeset.css/ -->
    <link rel="stylesheet" type="text/css" href="/assets/css/typeset.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/tailwind.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/landing-styles.css" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://rapidfullstackdevelopment.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Rapid Fullstack Development">
    <meta property="og:description" content="A new book by Ashley Davis: Learn to be an efficient and effective developer across the stack.">
    <meta property="og:image" content="https://rapidfullstackdevelopment.com/coding-cycle.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="rapidfullstackdevelopment.com">
    <meta property="twitter:url" content="https://rapidfullstackdevelopment.com/">
    <meta name="twitter:title" content="Rapid Fullstack Development">
    <meta name="twitter:description" content="A new book by Ashley Davis: Learn to be an efficient and effective developer across the stack.">
    <meta name="twitter:image" content="https://rapidfullstackdevelopment.com/coding-cycle.png">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MCP3RM6ZN8"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-MCP3RM6ZN8');
    </script>    
    
</head>
<body>
    {{content}}
</body>
</html>
