<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Rapid Fullstack Development</title>
    <meta name="description" content="A new book by Ashley Davis on being an effective and productive fullstack developer" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="favicon.ico">

    <!-- https://www.joshuarudd.com/typeset.css/ -->
    <link rel="stylesheet" type="text/css" href="/assets/css/typeset.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/tailwind.css" />

</head>
<body>
    <div class="container mx-auto max-w-3xl">
        {{content}}
    </div>
</body>
</html>
