<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Rapid Fullstack Development</title>
    <meta name="description" content="A new book by Ashley Davis on being an effective and productive fullstack developer" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="favicon.ico">

    <!-- https://www.joshuarudd.com/typeset.css/ -->
    <link rel="stylesheet" type="text/css" href="/assets/css/typeset.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/tailwind.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/table-of-contents.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MCP3RM6ZN8"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-MCP3RM6ZN8');
    </script>    
    
</head>
<body>

    <nav class="side fixed w-60 h-full hidden lg:block pl-4 pr-4 pt-0">
        
        <a href="/">
            <h1><em>Rapid</em> Fullstack Development</h1>
        </a>

        <div class="menu rounded-sm shadow-lg px-4 pt-4 pb-4 w-56">
            <p class="text-xl">
                Helping developers write reliable and valuable code, <bold>quickly</bold>
            </p>
            <li class="mt-4">
                <a href="/">Home page</a>
            </li>
            <li>
                <a href="/table-of-contents">Table of contents</a>
            </li>
            <!-- <li>
                <a href="/chapter-1">Chapter 1: Bootstrapping Rapid Development</a>
            </li> -->
        </div>
        
    </nav>

    <nav class="heading flex flex-row justify-center items-center lg:hidden">
        <div>
            <a href="/"><h1><em>Rapid</em> Fullstack Development</h1></a>
        </div>
    </nav>
    
    <main class="content rounded-sm pl-4 lg:pl-10 pr-4 lg:ml-72 lg:mt-10 lg:shadow-lg lg:mr-10 max-w-4xl pb-24">
        {{content}}
    </main>

</body>
</html>
