body {
    background-color: #F9F9F9;
    font-family: Crimson, Georgia, serif;
}

.w-nav {
    background-color: #F9F9F9;
}

.new-page {
    width: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.navbar-logo-left {
    width: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    align-items: flex-start;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
}

.navbarcontainer {
    width: 100%;
    max-width: 1000px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.navbar-content {
    width: 100%;
    max-width: 1000px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.navbar-brand {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.logo {
    width: 141px;
    height: 36px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    display: flex;
}

.navbar-menu {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.navbar-link {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px 12px;
    display: flex;
}

.text {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.navbar-button {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    background-color: #000;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    display: flex;
}

.text-2 {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
}

._3-columns {
    width: 100%;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.column {
    width: 100%;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    background-color: #f8f8f8;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 24px;
    display: flex;
}

.text-3 {
    border-style: solid;
    border-width: undefinedpx;
    color: #000;
    border-color: #000;
    font-size: 30px;
    font-weight: 400;
}

.text-4 {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
}

._3-columns-2 {
    width: 100%;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.text-5 {
    border-style: solid;
    border-width: undefinedpx;
    color: #000;
    border-color: #000;
    font-size: 30px;
    font-weight: 400;
}

._3-columns-3 {
    width: 100%;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.text-6 {
    color: #000;
    font-size: 30px;
    font-weight: 400;
}

._3-columns-4 {
    width: 100%;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.text-7 {
    color: #000;
    font-size: 30px;
    font-weight: 400;
}

._3-columns-5 {
    width: 100%;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.text-8 {
    color: #000;
    font-size: 30px;
    font-weight: 400;
}

.header {
    width: 100%;
    max-width: 1000px;
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    background-color: #fff;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 112px 64px;
    display: flex;
}

.container {
    width: 100%;
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.column-2 {
    width: 100%;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.heading-h1 {
    color: #000;
    font-size: 56px;
    font-weight: 700;
    line-height: 120%;
}

.text-medium-normal {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.actions {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 16px;
    display: flex;
}

.button {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    background-color: #000;
    border: 1px solid #000;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    text-decoration: none;
    display: flex;
}

.text-regular-normal {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
}

.button-2 {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    border: 1px solid #000;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    text-decoration: none;
    display: flex;
}

.text-regular-normal-2 {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
}

.placeholder {
    object-fit: cover;
}

.container-2 {
    width: 100%;
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.column-3 {
    width: 100%;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.button-3 {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    border: 1px solid #000;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    text-decoration: none;
    display: flex;
}

.text-regular-normal-3 {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
}

.hero-heading-left {
    width: 100%;
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    background-color: #fff;
    justify-content: center;
    align-items: flex-start;
    padding: 64px 24px;
    display: flex;
}

.container-3 {
    width: 100%;
    max-width: 1000px;
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.column-4 {
    width: 100%;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.text-9 {
    color: #000;
    font-size: 56px;
    font-weight: 700;
    line-height: 120%;
}

.text-10 {
    color: #212121;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
}

.text-10a {
    color: #212121;
    font-size: 19px;
    font-weight: 400;
    line-height: 150%;
}

.actions-2 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 16px;
    display: flex;
}

.button-4 {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    background-color: #000;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    text-decoration: none;
    display: flex;
}

.text-11 {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
}

.column-5 {
    width: 100%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.image-wrapper {
    width: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.image {
    width: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container-4 {
    width: 100%;
    max-width: 1000px;
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.column-6 {
    width: 100%;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.text-12 {
    color: #000;
    font-size: 56px;
    font-weight: 700;
    line-height: 120%;
}

.actions-3 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 16px;
    display: flex;
}

.button-5 {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    background-color: #000;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    text-decoration: none;
    display: flex;
}

.text-13 {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
}

.page {
    width: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.navbar-logo-left-2 {
    width: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    align-items: flex-start;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
}

.navbarcontainer-2 {
    width: 100%;
    max-width: 1000px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.navbar-content-2 {
    width: 100%;
    max-width: 1000px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.navbar-brand-2 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.logo-2 {
    width: 48px;
    height: 48px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    display: flex;
}

.navbar-menu-2 {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.navbar-link-2 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px 12px;
    display: flex;
    text-decoration: none;
}

.text-14 {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.navbar-link-3,
.navbar-link-4 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px 12px;
    display: flex;
    text-decoration: none;
}

.navbar-button-2 {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    background-color: #216BFF;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    display: flex;
    text-decoration: none;
}

.text-15 {
    color: #fff;
    font-size: 23px;
    font-weight: 500;
    line-height: 140%;
}

.hero-heading-left-2 {
    width: 100%;
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    justify-content: center;
    align-items: flex-start;
    padding: 64px 24px;
    display: flex;
}

.container-5 {
    width: 100%;
    max-width: 1000px;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.column-7 {
    width: 100%;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.column-7a {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.title {
    color: #216BFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 120%;
}

@media screen and (max-width: 479px) {
    .title {
        font-size: 35px;
    }
}

.sub-title {
    color: #216BFF;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
}

@media screen and (max-width: 479px) {
    .sub-title {
        font-size: 30px;
    }
}

.actions-4 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 16px;
    display: flex;
}

.button-6 {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    background-color: #216BFF;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    text-decoration: none;
    display: flex;
}

.column-8 {
    width: 100%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.image-wrapper-2 {
    width: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.image-2 {
    width: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    display: flex;
}

.image-profile {
    width: 100%;
    max-width: 400px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    display: flex;
}

.hero-heading-right {
    width: 100%;
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    justify-content: center;
    align-items: flex-start;
    padding: 64px 24px;
    display: flex;
}

.testimonial-column-light {
    width: 100%;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 64px 24px;
    display: flex;
}

.columns {
    width: 100%;
    max-width: 960px;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    justify-content: center;
    align-items: flex-start;
    display: flex;
}

.content {
    width: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 1px solid #E0E0E0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px;
    display: flex;
}

.quote>.text-14 {
    min-height: 10em;
}

@media screen and (max-width: 767px) {
    .quote>.text-14 {
        min-height: 1em;
    }
}


.quote {
    width: 100%;
    grid-column-gap: 52px;
    grid-row-gap: 52px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.author {
    width: 100%;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    background-color: #EDEDED;
    justify-content: flex-start;
    align-items: center;
    padding: 24px 16px;
    display: flex;
}

.image-3 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    object-fit: cover;
    border-radius: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.info {
    width: 100%;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.text-16 {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
}

.hero-no-image {
    width: 100%;
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 64px 24px;
    display: flex;
}

.small-container {
    width: 100%;
    max-width: 960px;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    background-color: #f5f7fa;
    border-radius: 16px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 32px;
    display: flex;
}

.content-2 {
    width: 100%;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.text-17 {
    color: #216BFF;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
}

.news-item {
    color: #212121;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.newsletter-form {
    width: 100%;
    grid-column-gap: 64px;
    grid-row-gap: 64px;
    background-color: #f5f7fa;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 64px 24px;
    display: flex;
}

.container-6 {
    width: 100%;
    max-width: 1000px;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.section-title {
    width: 100%;
    max-width: 530px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.text-18 {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.form-wrapper {
    width: 100%;
    max-width: 400px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.form {
    width: 100%;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.input-wrapper {
    width: 100%;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.form-text-input {
    width: 100%;
    height: 42px;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    color: #979797;
    border: 1px solid #000;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    display: flex;
}

.form-text-input::-ms-input-placeholder {
    color: #979797;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
}

.form-text-input::placeholder {
    color: #979797;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
}

.text-19 {
    color: #979797;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
}

.form-button {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    color: #fff;
    background-color: #000;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
    display: flex;
}

.text-20 {
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.footer {
    width: 100%;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 64px 24px 8px;
    display: flex;
}

.columns-2 {
    width: 100%;
    max-width: 960px;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
}

.column-9 {
    width: 100%;
    max-width: 320px;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.logo-wrapper {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 16px;
    display: flex;
}

.small-columns {
    width: 100%;
    max-width: 600px;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 16px;
    display: flex;
}

.content-3 {
    width: 100%;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.text-21 {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
}

.footer-links {
    width: 100%;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.link {
    color: #212121;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.content-4 {
    width: 100%;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.copyright {
    width: 100%;
    max-width: 940px;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    box-shadow: 0 -1px gray;
}

.text-22 {
    color: #333;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

@media screen and (max-width: 991px) {
    .navbar-logo-left {
        padding-right: 0;
    }

    .navbar-menu {
        max-width: unset;
    }

    .navbar-link,
    .navbar-button {
        justify-content: center;
    }

    ._3-columns,
    ._3-columns-3,
    .container-2,
    .container-3 {
        flex-direction: column;
        align-items: center;
    }

    .navbar-logo-left-2 {
        padding-right: 0;
    }

    .navbar-menu-2 {
        max-width: unset;
    }

    .navbar-link-2,
    .navbar-link-3,
    .navbar-link-4,
    .navbar-button-2 {
        justify-content: center;
    }

    .container-5,
    .columns,
    .columns-2 {
        flex-direction: column;
        align-items: center;
    }

    .column-9,
    .content-3,
    .footer-links,
    .content-4 {
        align-items: center;
    }
}

@media screen and (max-width: 767px) {
    ._3-columns {
        flex-direction: column;
    }
}

@media screen and (max-width: 479px) {

    ._3-columns-5,
    .container,
    .container-4,
    .small-columns {
        flex-direction: column;
        align-items: center;
    }
}

.subscribe-btn,
#mc-embedded-subscribe,
.get-early-access {
    color: white;
    background-color: #216BFF;
    border: 1px solid #0A2E9C;
    box-shadow: 4px 4px 0 0 #0A2E9C;
    padding: 14.4px 22.5px;
    font-size: 20px;
    text-decoration: none;
}

.get-early-access {
    background-color: #64B350;
    border: 1px solid #508742;
    box-shadow: 4px 4px 0 0 #508742;
    display: inline-block;
}

#mce-EMAIL {
    word-break: break-word;
    background-color: white !important;
    box-sizing: border-box;
    margin: 0;
    line-height: inherit;
    overflow: visible;
    border-radius: 4px;
    border: 2px solid #d0d0d0;
    width: 100%;
    display: inline-block;
    color: #151515;
    padding: 0 10px;
    font-family: 'Lora', Georgia, 'Times New Roman', serif;
    font-size: 16px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 0;
    min-width: 300px;
}