body {
    background-color: rgb(31, 32, 35);
    color: rgb(174, 178, 183);
    font-family: ui-sans-serif,system-ui,sans-serif;
    line-height: 24px;
    font-size: 16px;
    font-style: normal;
}

.content {
    background-color: rgb(31, 32, 35);
    /* Code caption */
    /* Code */
}

.content p {
    margin-bottom: 16px;
}

.content ul {
    padding-left: 40px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.content h1 {
    padding: 0;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
}

.content h1:first-of-type {
    color: white;
    padding: 0;
    font-size: 44px;
}

.content h2 {
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: white;
}

.content h3 {
    padding: 0;
    font-weight: normal;
    font-size: 20px;
    color: gray;
    font-style: italic;
}

.content blockquote {
    margin: 5px;
    padding: 20px;
    background-color: rgb(31, 32, 35);
}

.content h5 {
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 20px;
}

.content h6 {
    font-family: inherit;
    font-weight: normal;
    font-size: 16px;
    padding-bottom: 5px;
}

.content pre {
    font-family: 'Source Code Pro', monospace;
}

.content .subscribe-btn,
.content #mc-embedded-subscribe,
.content .get-early-access {
    color: white;
    background-color: #216BFF;
    border: 1px solid #0A2E9C;
    box-shadow: 4px 4px 0 0 #0A2E9C;
    padding: 14.4px 22.5px;
    font-size: 20px;
    text-decoration: none;
}

.content .get-early-access {
    background-color: #64B350;
    border: 1px solid #508742;
    box-shadow: 4px 4px 0 0 #508742;
}

.content #mce-EMAIL {
    word-break: break-word;
    background-color: white !important;
    box-sizing: border-box;
    margin: 0;
    line-height: inherit;
    overflow: visible;
    border-radius: 4px;
    border: 2px solid #d0d0d0;
    width: 100%;
    display: inline-block;
    color: #151515;
    padding: 0 10px;
    font-family: 'Lora', Georgia, 'Times New Roman', serif;
    font-size: 16px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 0;
}

.content img {
    max-width: 80vw;
    padding: 5px;
    border: 1px lightgray solid;
}

.heading {
    color: #216BFF;
    text-shadow: 0.4px 0.4px #0A2E9C;
}

.heading a {
    color: #216BFF;
    text-shadow: 0.4px 0.4px #0A2E9C;
    text-decoration: none;
}

.heading a:hover {
    text-decoration: underline;
    text-decoration-color: #216BFF;
}

@media (min-width: 1024px) {
    #content {
        padding-top: 50px;
        padding-left: 5px;
        padding-bottom: 150px;
    }

    .content {
        max-width: 800px;
    }

    .content .inner {
        padding-top: 0;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 80px;
    }

    .content img {
        max-width: 575px;
        padding: 20px;
    }
}

@media (max-width: 1024px) {
    .content .inner {
        padding-top: 0;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 150px;
    }
}

@media (max-width: 640px) {
    .content .inner {
        padding-top: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 150px;
    }
}

figure {
    cursor: zoom-in;
    background-color: white;
}

figure.zoomed {
    cursor: zoom-out;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    justify-content: center;
    align-items: center;
}

figure.zoomed img {
    max-height: 90vh;
}