
body {
    color: #222;
    font-family: Crimson, Georgia, serif;
    line-height: 24px;
    font-size: 16px;
}

img {
    max-width: 500px;
    border: 1px lightgray solid;
    padding: 20px;
}

h1:first-of-type {
    margin: 0;
    margin-bottom: 5px;
    font: 48px/48px "Crimson", Georgia, serif;
    padding: 110px 0 18px 0;
    font-size: 44px;
}

h2:first-of-type {
    margin: 0;
    margin-left: 35px;
    margin-bottom: 50px;
    font: italic 24px/36px "Crimson", Georgia, serif;
    color: #5985a6;    
}

h1 {
    font-weight: bold;
    margin: 0;
    margin-top: 69px;
    margin-bottom: 30px;
}

h2 {
    font-weight: normal;
    margin: 0;
    margin-top: 71px;
    padding-bottom: 1px;
}

/* Code caption */
h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 1.5rem;
    font-weight: normal;
    font-size: 15px;
    color: gray;
    font-style: italic;
}

blockquote {
    margin: 5px;
    padding: 20px;    
    background-color: #e8e8e8;
}

h5 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 20px;
}

h6 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-weight: normal;
    font-size: 16px;
    padding-bottom: 5px;
}

/* Code */
pre {
    font-family: 'Source Code Pro', monospace;
}