* {
  margin: 0;
  padding: 0;
}
body {
  color: #222;
  font-family: Crimson, Georgia, serif;
  line-height: 24px;
  font-size: 16px;
  font-style: normal;
  background-color: #E6E2DC;
}
a {
  color: #222;
}
.side {
  background-color: #E6E2DC;
  width: 320px;
}
.side p {
  margin-top: 16px;
  margin-bottom: 16px;
}
.side ul {
  padding-left: 40px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.side a {
  text-decoration: none;
}
.side a:hover {
  text-decoration: underline;
  text-decoration-color: #222;
}
.side h1 {
  line-height: 35px;
  font-size: 1.55em;
}
.side .menu {
  background-color: white;
  border-top: 1px solid #BBBBBB;
  border-left: 1px solid #BBBBBB;
  border-right: 1px solid #BBBBBB;
}
.side img {
  padding: 20px;
}
.side .subscribe-btn,
.side #mc-embedded-subscribe {
  color: white;
  background-color: #216BFF;
  border: 1px solid #0A2E9C;
  box-shadow: 4px 4px 0 0 #0A2E9C;
  padding: 14.4px 22.5px;
  font-size: 20px;
  text-decoration: none;
}
.side .subscribe-btn:hover {
  text-decoration: none;
}
.side .subscribe-btn:visited {
  color: white;
}
.side #mce-EMAIL {
  word-break: break-word;
  background-color: white !important;
  box-sizing: border-box;
  margin: 0;
  line-height: inherit;
  overflow: visible;
  border-radius: 4px;
  border: 2px solid #d0d0d0;
  width: 100%;
  display: inline-block;
  color: #151515;
  padding: 0 10px;
  font-family: 'Lora', Georgia, 'Times New Roman', serif;
  font-size: 16px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 0;
}
.content {
  background-color: white;
  border-top: 1px solid #BBBBBB;
  border-left: 1px solid #BBBBBB;
  border-right: 1px solid #BBBBBB;
  /* Code caption */
  /* Code */
}
.content p {
  margin-top: 16px;
  margin-bottom: 16px;
}
.content ul {
  padding-left: 40px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.content h1 {
  padding-top: 40px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
}
.content h1:first-of-type {
  color: #216BFF;
  text-shadow: 0.4px 0.4px #0A2E9C;
  padding-top: 50px;
  padding-bottom: 31px;
  font-size: 44px;
}
.content h2 {
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 5px;
}
.content h2:first-of-type {
  padding-top: 10px;
  padding-bottom: 20px;
  font: italic 24px/36px "Crimson", Georgia, serif;
  color: #5985a6;
}
.content h3 {
  padding-bottom: 1.5rem;
  font-weight: normal;
  font-size: 15px;
  color: gray;
  font-style: italic;
}
.content blockquote {
  margin: 5px;
  padding: 20px;
  background-color: #e8e8e8;
}
.content h5 {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 20px;
}
.content h6 {
  font-family: inherit;
  font-weight: normal;
  font-size: 16px;
  padding-bottom: 5px;
}
.content pre {
  font-family: 'Source Code Pro', monospace;
}
.content .subscribe-btn,
.content #mc-embedded-subscribe {
  color: white;
  background-color: #216BFF;
  border: 1px solid #0A2E9C;
  box-shadow: 4px 4px 0 0 #0A2E9C;
  padding: 14.4px 22.5px;
  font-size: 20px;
  text-decoration: none;
}
.content #mce-EMAIL {
  word-break: break-word;
  background-color: white !important;
  box-sizing: border-box;
  margin: 0;
  line-height: inherit;
  overflow: visible;
  border-radius: 4px;
  border: 2px solid #d0d0d0;
  width: 100%;
  display: inline-block;
  color: #151515;
  padding: 0 10px;
  font-family: 'Lora', Georgia, 'Times New Roman', serif;
  font-size: 16px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 0;
}
.content img {
  max-width: 80vw;
  padding: 5px;
  border: 1px lightgray solid;
}
.heading {
  color: #216BFF;
  text-shadow: 0.4px 0.4px #0A2E9C;
}
.heading a {
  color: #216BFF;
  text-shadow: 0.4px 0.4px #0A2E9C;
  text-decoration: none;
}
.heading a:hover {
  text-decoration: underline;
  text-decoration-color: #216BFF;
}
@media (min-width: 1024px) {
  .content {
    margin-left: 360px;
    margin-top: 50px;
  }
  .content img {
    max-width: 575px;
    padding: 20px;
  }
}
