* {
    padding: 0;
    margin: 0;
}

body {
    color: #222;
    font-family: Crimson, Georgia, serif;
    line-height: 24px;
    font-size: 16px;
    font-style: normal;
    background-color: #E6E2DC;
}

.heading {
    color: #216BFF;
    text-shadow: .4px .4px #0A2E9C;
}

.side {
    background-color: #E6E2DC;
}

.content {
    background-color: white;
    border-top: 1px solid #BBBBBB;
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
}

h1:first-of-type {
    padding-top: 50px;
    padding-bottom: 31px;
    font-size: 44px;
}

p {
    margin-top: 16px;
    margin-bottom: 16px;
}

ul {
    padding-left: 40px;
    margin-top: 16px;
    margin-bottom: 16px;
}

h1 {
    padding-top: 40px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
}

img {
    max-width: 80vw;
    padding: 5px;
    border: 1px lightgray solid;
}

@media (min-width: 1024px) {
    img {
        max-width: 575px;
        padding: 20px;
    }
}

h2:first-of-type {
    padding-top: 10px;
    padding-bottom: 20px;
    font: italic 24px/36px "Crimson", Georgia, serif;
    color: #5985a6;    
}

h2 {
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 5px;
}

/* Code caption */
h3 {
    padding-bottom: 1.5rem;
    font-weight: normal;
    font-size: 15px;
    color: gray;
    font-style: italic;
}

blockquote {
    margin: 5px;
    padding: 20px;    
    background-color: #e8e8e8;
}

h5 {
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 20px;
}

h6 {
    font-family: inherit;
    font-weight: normal;
    font-size: 16px;
    padding-bottom: 5px;
}

/* Code */
pre {
    font-family: 'Source Code Pro', monospace;
}

.side h1 {
    padding-top: 40px;
    font-weight: bold;
    font-size: 1.85em;
}

.side .menu {
    background-color: white;
    border-top: 1px solid #BBBBBB;
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
}

a {
    color: #222;
}

.side a {
    text-decoration: none;
}

.side a:hover {
    text-decoration: underline;
}

.heading a {
    text-decoration: none;
}

.heading a:hover {
    text-decoration: underline;
}

.heading h1 {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 1.25em;
}

.subscribe-btn, #mc-embedded-subscribe {
    color: white;
    background-color: #216BFF;
    border: 1px solid #0A2E9C;
    box-shadow: 4px 4px 0 0 #0A2E9C;
    padding: 14.4px 22.5px;
    font-size: 20px;
    text-decoration: none;
}

.side .subscribe-btn:hover {
    text-decoration: none;
}

.side .subscribe-btn:visited {
    color: white;
}

#mce-EMAIL {
    word-break: break-word;
    background-color: white !important;
    box-sizing: border-box;
    margin: 0;
    line-height: inherit;
    overflow: visible;
    border-radius: 4px;
    border: 2px solid #d0d0d0;
    width: 100%;
    display: inline-block;
    color: #151515;
    padding: 0 10px;
    font-family: 'Lora', Georgia, 'Times New Roman', serif;
    font-size: 16px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 0;
}