* {
    padding: 0;
    margin: 0;
}

body {
    color: #222;
    font-family: Crimson, Georgia, serif;
    line-height: 24px;
    font-size: 16px;
    font-style: normal;
    background-color: #E6E2DC;
}

.side {
    background-color: #E6E2DC;
}

.content {
    background-color: white;
    border-top: 1px solid #BBBBBB;
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
}

h1:first-of-type {
    padding-top: 50px;
    padding-bottom: 31px;
    font-size: 44px;
}

p {
    margin-top: 16px;
    margin-bottom: 16px;
}

ul {
    padding-left: 40px;
    margin-top: 16px;
    margin-bottom: 16px;
}

h1 {
    padding-top: 40px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
}

img {
    max-width: 500px;
    border: 1px lightgray solid;
    padding: 20px;
}

h2:first-of-type {
    padding-top: 10px;
    padding-bottom: 20px;
    font: italic 24px/36px "Crimson", Georgia, serif;
    color: #5985a6;    
}

h2 {
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 5px;
}

/* Code caption */
h3 {
    padding-bottom: 1.5rem;
    font-weight: normal;
    font-size: 15px;
    color: gray;
    font-style: italic;
}

blockquote {
    margin: 5px;
    padding: 20px;    
    background-color: #e8e8e8;
}

h5 {
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 20px;
}

h6 {
    font-family: inherit;
    font-weight: normal;
    font-size: 16px;
    padding-bottom: 5px;
}

/* Code */
pre {
    font-family: 'Source Code Pro', monospace;
}

.side h1 {
    padding-top: 40px;
    font-weight: bold;
    font-size: 1.85em;
}

.side .menu {
    background-color: white;
    border-top: 1px solid #BBBBBB;
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
}

a {
    color: #222;
}

.side a {
    text-decoration: none;
}

.side a:hover {
    text-decoration: underline;
}

.heading h1 {
    font-weight: 600;
    font-size: 1.25em;
}

