
body {
    color: #222;
    font-family: Crimson, Georgia, serif;
    background-color: #faf7eb;
}

.subscribe-btn, #mc-embedded-subscribe {
    background-color: white;
    border: 1px solid #151515;
    box-shadow: 4px 4px 0 0 #151515;
    padding: 14.4px 22.5px;
    font-family: Crimson, Georgia, serif;
    font-size: 20px;
}

#mce-EMAIL {
    word-break: break-word;
    background-color: white !important;
    box-sizing: border-box;
    margin: 0;
    line-height: inherit;
    overflow: visible;
    border-radius: 4px;
    border: 2px solid #d0d0d0;
    width: 100%;
    display: inline-block;
    color: #151515;
    padding: 0 10px;
    font-family: 'Lora', Georgia, 'Times New Roman', serif;
    font-size: 16px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 0;
}