
body {
    color: #222;
    font-family: Crimson, Georgia, serif;
    background-color: #faf7eb;
}

.subscribe-btn, #mc-embedded-subscribe {
    background-color: white;
    border: 1px solid #151515;
    box-shadow: 4px 4px 0 0 #151515;
    padding: 14.4px 22.5px;
    font-family: Crimson, Georgia, serif;
    font-size: 20px;
}

#mce-EMAIL {
    --global-buttonBackgroundColor: transparent;
    --global-buttonBorderRadius: 3px;
    --global-buttonBorderSize: 1px;
    --global-buttonBorderStyle: solid;
    --global-buttonBorderColor: #151515;
    --global-buttonBoxShadowColor: #151515;
    --global-buttonBoxShadowHOffset: 4px;
    --global-buttonBoxShadowVOffset: 4px;
    --global-buttonBoxShadowBlur: 0px;
    --global-buttonBoxShadowSpread: 0px;
    --global-buttonColor: #151515;
    --global-buttonFontSize: 21px;
    --global-buttonIsFullWidth: falsepx;
    --global-buttonVerticalPadding: 14.4px;
    --global-buttonHorizontalPadding: 22.5px;
    --global-backgroundColor: #faf7eb;
    --global-columnBorderColor: #151515;
    --global-contentBackgroundColor: nullpx;
    --global-baseSpacing: 16px;
    --global-dividerBackgroundColor: transparent;
    --global-dividerColor: #dedede;
    --global-dividerHeight: 2px;
    --global-dividerStyle: solid;
    --global-dividerTopSpacing: 20px;
    --global-dividerBottomSpacing: 20px;
    --global-headingTextColor: #151515;
    --global-linkTextColor: #151515;
    --global-paragraphTextColor: #151515;
    --global-baseFontSize: 21px;
    --global-maxWidth: 1360px;
    --global-inputBackgroundColor: transparent;
    --global-inputBorderRadius: 4px;
    --global-inputBorderSize: 2px;
    --global-inputBorderStyle: solid;
    --global-inputBorderColor: #d0d0d0;
    --global-inputColor: #151515;
    --global-inputWidth: 60%;
    --global-animationType: slideUp;
    --global-animationDuration: 0.6s;
    --global-animationEasing: cubic-bezier(0.41, 0.41, 0.07, 1);
    --global-animationStagger: off;
    --global-buttonHoveredBackgroundColor: transparent;
    --global-secondaryButtonBackgroundColor: transparent;
    --global-secondaryButtonBorderColor: transparent;
    --global-secondaryButtonColor: #151515;
    --global-buttonTransitionProperty: box-shadow;
    --global-buttonTextDecoration: undefined;
    --global-secondaryButtonTextDecoration: dotted;
    --global-spacing: 1;
    --global-headingFontWeight: 400;
    --global-buttonFontWeight: 400;
    --global-headingFontFamily: 'Neuton', serif;
    --global-paragraphFontFamily: 'Lora', Georgia, 'Times New Roman', serif;
    --global-buttonFontFamily: 'Nanum Gothic Coding', monospace;
    --global-typeScale: 1.333;
    --global-baseFontSize-mobile: calc(var(--global-baseFontSize)*0.9);
    --global-baseFontSize-tablet: calc(var(--global-baseFontSize)*0.94);
    --global-baseFontSize-laptop: calc(var(--global-baseFontSize)*0.98);
    --global-buttonFontSize-mobile: calc(var(--global-buttonFontSize)*0.9);
    --global-buttonFontSize-tablet: calc(var(--global-buttonFontSize)*0.94);
    --global-buttonFontSize-laptop: calc(var(--global-buttonFontSize)*0.98);
    --type-scale: var(--global-typeScale,1.25);
    --global-h1FontScale: calc(var(--final-type-scale)*var(--final-type-scale)*var(--final-type-scale)*var(--final-type-scale));
    --global-h2FontScale: calc(var(--final-type-scale)*var(--final-type-scale)*var(--final-type-scale));
    --global-h3FontScale: calc(var(--final-type-scale)*var(--final-type-scale));
    --global-h4FontScale: var(--final-type-scale);
    --final-type-scale: calc(var(--type-scale)*0.94);
    --animationDuration: var(--local-animationDuration-tablet,var(--local-animationDuration,var(--global-animationDuration-tablet,var(--global-animationDuration))));
    --animationType: var(--local-animationType-tablet,var(--local-animationType,var(--global-animationType-tablet,var(--global-animationType))));
    --animationEasing: var(--local-animationEasing-tablet,var(--local-animationEasing,var(--global-animationEasing-tablet,var(--global-animationEasing))));
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    --mceRow-spacing: 1;
    --mceRow-paddingLeft: 1;
    --mceRow-paddingRight: 1;
    --mceRow-width: 100%;
    --mceRow-rowContentAlignment: initial;
    --mceRow-background: none;
    --mceRow-backgroundSize: none;
    --mceRow-backgroundPosition: none;
    --mceRow-backgroundRepeat: none;
    --mceRow-backgroundImage: none;
    --mceRow-backgroundImage-phone: none;
    --mceRow-backgroundImage-phone-2x: none;
    --mceRow-backgroundImage-tablet: none;
    --mceRow-backgroundImage-tablet-2x: none;
    --mceRow-backgroundImage-laptop: none;
    --mceRow-backgroundImage-laptop-2x: none;
    --mceRow-backgroundImage-desktop: none;
    --mceRow-backgroundImage-desktop-2x: none;
    --width: var(--mceRow-width-tablet,var(--mceRow-width));
    --rowContentAlignment: var(--mceRow-rowContentAlignment-tablet,var(--mceRow-rowContentAlignment));
    --zIndex: var(--mceRow-zIndex-tablet,var(--mceRow-zIndex));
    --mceRow-paddingTop: 2;
    --mceRow-paddingBottom: 2;
    --mceRow-paddingTop-laptop: 1.75;
    --mceRow-paddingBottom-laptop: 1.75;
    --mceRow-paddingTop-mobile: 0.5;
    --mceRow-paddingBottom-mobile: 0.5;
    --mceColumn-spacing: 1;
    --mceColumn-gridColumnStart: auto;
    --mceColumn-alignSelf: none;
    --mceColumn-textAlign: none;
    --mceColumn-borderColor: "transparent";
    --mceColumn-borderStyle: "none";
    --mceColumn-borderWidth: 0;
    --mceColumn-background: none;
    --mceColumn-backgroundSize: none;
    --mceColumn-backgroundPosition: none;
    --mceColumn-backgroundRepeat: none;
    --mceColumn-backgroundImage: none;
    --mceColumn-backgroundImage-phone: none;
    --mceColumn-backgroundImage-phone-2x: none;
    --mceColumn-backgroundImage-tablet: none;
    --mceColumn-backgroundImage-tablet-2x: none;
    --mceColumn-backgroundImage-laptop: none;
    --mceColumn-backgroundImage-laptop-2x: none;
    --mceColumn-backgroundImage-desktop: none;
    --mceColumn-backgroundImage-desktop-2x: none;
    --padding-left: calc(var(--paddingLeft, 1)*var(--global-baseSpacing));
    --padding-right: calc(var(--paddingRight, 1)*var(--global-baseSpacing));
    --current-spacing: var(--spacing);
    --columnBorderColor: var(--local-columnBorderColor-tablet,var(--local-columnBorderColor,var(--global-columnBorderColor-tablet,var(--global-columnBorderColor))));
    --span: var(--mceColumn-span-tablet,var(--mceColumn-span));
    --gridColumnStart: var(--mceColumn-gridColumnStart-tablet,var(--mceColumn-gridColumnStart));
    --alignSelf: var(--mceColumn-alignSelf-tablet,var(--mceColumn-alignSelf));
    --paddingTop: var(--mceColumn-paddingTop-tablet,var(--mceColumn-paddingTop));
    --paddingLeft: var(--mceColumn-paddingLeft-tablet,var(--mceColumn-paddingLeft));
    --paddingRight: var(--mceColumn-paddingRight-tablet,var(--mceColumn-paddingRight));
    --paddingBottom: var(--mceColumn-paddingBottom-tablet,var(--mceColumn-paddingBottom));
    --position: var(--mceColumn-position-tablet,var(--mceColumn-position));
    --textAlign: var(--mceColumn-textAlign-tablet,var(--mceColumn-textAlign));
    --borderColor: var(--mceColumn-borderColor-tablet,var(--mceColumn-borderColor));
    --borderStyle: var(--mceColumn-borderStyle-tablet,var(--mceColumn-borderStyle));
    --borderWidth: var(--mceColumn-borderWidth-tablet,var(--mceColumn-borderWidth));
    --background: var(--mceColumn-background-tablet,var(--mceColumn-background));
    --backgroundSize: var(--mceColumn-backgroundSize-tablet,var(--mceColumn-backgroundSize));
    --backgroundPosition: var(--mceColumn-backgroundPosition-tablet,var(--mceColumn-backgroundPosition));
    --backgroundRepeat: var(--mceColumn-backgroundRepeat-tablet,var(--mceColumn-backgroundRepeat));
    --backgroundImage: var(--mceColumn-backgroundImage-tablet,var(--mceColumn-backgroundImage));
    --backgroundImage-phone: var(--mceColumn-backgroundImage-phone-tablet,var(--mceColumn-backgroundImage-phone));
    --backgroundImage-phone-2x: var(--mceColumn-backgroundImage-phone-2x-tablet,var(--mceColumn-backgroundImage-phone-2x));
    --backgroundImage-tablet: var(--mceColumn-backgroundImage-tablet-tablet,var(--mceColumn-backgroundImage-tablet));
    --backgroundImage-tablet-2x: var(--mceColumn-backgroundImage-tablet-2x-tablet,var(--mceColumn-backgroundImage-tablet-2x));
    --backgroundImage-laptop: var(--mceColumn-backgroundImage-laptop-tablet,var(--mceColumn-backgroundImage-laptop));
    --backgroundImage-laptop-2x: var(--mceColumn-backgroundImage-laptop-2x-tablet,var(--mceColumn-backgroundImage-laptop-2x));
    --backgroundImage-desktop: var(--mceColumn-backgroundImage-desktop-tablet,var(--mceColumn-backgroundImage-desktop));
    --backgroundImage-desktop-2x: var(--mceColumn-backgroundImage-desktop-2x-tablet,var(--mceColumn-backgroundImage-desktop-2x));
    --mceColumn-paddingTop: 0;
    --mceColumn-paddingRight: 0;
    --mceColumn-paddingBottom: 0;
    --mceColumn-paddingLeft: 0;
    --mceColumn-span: 6;
    --inputWidth: var(--local-inputWidth-tablet,var(--local-inputWidth,var(--global-inputWidth-tablet,var(--global-inputWidth))));
    --linkColor: var(--mceForm-linkColor-tablet,var(--mceForm-linkColor));
    --local-inputWidth: 100%;
    --headingFontFamily: var(--local-headingFontFamily-tablet,var(--local-headingFontFamily,var(--global-headingFontFamily-tablet,var(--global-headingFontFamily))));
    --headingTextColor: var(--local-headingTextColor-tablet,var(--local-headingTextColor,var(--global-headingTextColor-tablet,var(--global-headingTextColor))));
    --linkTextColor: var(--local-linkTextColor-tablet,var(--local-linkTextColor,var(--global-linkTextColor-tablet,var(--global-linkTextColor))));
    --headingFontWeight: var(--local-headingFontWeight-tablet,var(--local-headingFontWeight,var(--global-headingFontWeight-tablet,var(--global-headingFontWeight))));
    --h1FontScale: var(--local-h1FontScale-tablet,var(--local-h1FontScale,var(--global-h1FontScale-tablet,var(--global-h1FontScale))));
    --h2FontScale: var(--local-h2FontScale-tablet,var(--local-h2FontScale,var(--global-h2FontScale-tablet,var(--global-h2FontScale))));
    --h3FontScale: var(--local-h3FontScale-tablet,var(--local-h3FontScale,var(--global-h3FontScale-tablet,var(--global-h3FontScale))));
    --h4FontScale: var(--local-h4FontScale-tablet,var(--local-h4FontScale,var(--global-h4FontScale-tablet,var(--global-h4FontScale))));
    --lineHeight: var(--local-lineHeight-tablet,var(--local-lineHeight,var(--global-lineHeight-tablet,var(--global-lineHeight))));
    --fontSize: var(--mceText-fontSize-tablet,var(--mceText-fontSize));
    word-break: break-word;
    -webkit-box-direction: normal;
    --paragraphTextColor: var(--local-paragraphTextColor-tablet,var(--local-paragraphTextColor,var(--global-paragraphTextColor-tablet,var(--global-paragraphTextColor))));
    --fontWeight: var(--mceLabel-fontWeight-tablet,var(--mceLabel-fontWeight));
    --color: var(--mceLabel-color-tablet,var(--mceLabel-color));
    background-color: white !important;
    box-sizing: border-box;
    margin: 0;
    line-height: inherit;
    overflow: visible;
    --spacing: calc(var(--global-baseSpacing)*var(--spacing-factor));
    border-radius: var(--inputBorderRadius);
    border: var(--inputBorderSize) var(--inputBorderStyle) var(--inputBorderColor);
    width: 100%;
    display: inline-block;
    color: var(--inputColor);
    padding: 0 var(--spacing);
    font-family: var(--paragraphFontFamily);
    font-size: calc(var(--baseFontSize)*0.8);
    height: calc(var(--baseFontSize)*2.5);
    --baseFontSize: var(--local-baseFontSize-tablet,var(--local-baseFontSize,var(--global-baseFontSize-tablet,var(--global-baseFontSize))));
    --paragraphFontFamily: var(--local-paragraphFontFamily-tablet,var(--local-paragraphFontFamily,var(--global-paragraphFontFamily-tablet,var(--global-paragraphFontFamily))));
    --inputBackgroundColor: var(--local-inputBackgroundColor-tablet,var(--local-inputBackgroundColor,var(--global-inputBackgroundColor-tablet,var(--global-inputBackgroundColor))));
    --inputBorderRadius: var(--local-inputBorderRadius-tablet,var(--local-inputBorderRadius,var(--global-inputBorderRadius-tablet,var(--global-inputBorderRadius))));
    --inputBorderSize: var(--local-inputBorderSize-tablet,var(--local-inputBorderSize,var(--global-inputBorderSize-tablet,var(--global-inputBorderSize))));
    --inputBorderStyle: var(--local-inputBorderStyle-tablet,var(--local-inputBorderStyle,var(--global-inputBorderStyle-tablet,var(--global-inputBorderStyle))));
    --inputBorderColor: var(--local-inputBorderColor-tablet,var(--local-inputBorderColor,var(--global-inputBorderColor-tablet,var(--global-inputBorderColor))));
    --inputColor: var(--local-inputColor-tablet,var(--local-inputColor,var(--global-inputColor-tablet,var(--global-inputColor))));
    --spacing-factor: var(--mceInput-spacing-tablet,var(--mceInput-spacing,1));
    margin-top: calc(var(--spacing)/2);
    margin-bottom: 0;
}