* {
    padding: 0;
    margin: 0;
}

body {
    color: #222;
    font-family: Crimson, Georgia, serif;
    line-height: 24px;
    font-size: 16px;
    font-style: normal;
    background-color: #E6E2DC;
}

.heading {
    color: #216BFF;
    text-shadow: .4px .4px #0A2E9C;
}

.side {
    background-color: #E6E2DC;
}

.content {
    background-color: white;
    border-top: 1px solid #BBBBBB;
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
}

h1:first-of-type {
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 44px;
}

p {
    padding-bottom: 6px;
}

h1 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
}

.side h1 {
    padding-top: 40px;
    font-weight: bold;
    font-size: 1.85em;
}

.side .menu {
    background-color: white;
    border-top: 1px solid #BBBBBB;
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
}

a {
    color: #222;
}

.side a {
    text-decoration: none;
}

.side a:hover {
    text-decoration: underline;
}

.heading a {
    text-decoration: none;
}

.heading a:hover {
    text-decoration: underline;
}

.heading h1 {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 1.25em;
}

