* {
    padding: 0;
    margin: 0;
}

body {
    color: #222;
    font-family: Crimson, Georgia, serif;
    line-height: 24px;
    font-size: 16px;
    font-style: normal;
    background-color: #E6E2DC;
}

.side {
    background-color: #E6E2DC;
}

.header-desktop {
    background-color: #E6E2DC;
    border-bottom: 1px solid #BBBBBB;
}

.header-mobile {
    background-color: #E6E2DC;
    border-bottom: 1px solid #BBBBBB;
}

.content {
    background-color: white;
    border-top: 1px solid #BBBBBB;
    border-left: 1px solid #BBBBBB;
}

h1:first-of-type {
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 44px;
}

p {
    padding-bottom: 6px;
}

h1 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
}

