
body {
    color: #222;
    font-family: Crimson, Georgia, serif;
    line-height: 24px;
    font-size: 16px;
}

h1 {
    font-weight: bold;
    margin: 0;
    margin-top: 69px;
    margin-bottom: 30px;
}

h2 {
    font-weight: normal;
    margin: 0;
    margin-top: 32px;
    padding-bottom: 1px;
}
