
body {
    color: #222;
    font-family: Crimson, Georgia, serif;
    line-height: 24px;
    font-size: 16px;
}

h1:first-of-type {
    margin-bottom: 30px;
    padding: 110px 0 18px 0;
    font-size: 44px;
}

h1 {
    font-weight: 500;
    margin-top: 40px;
    font-size: 30px;
}
