* {
    padding: 0;
    margin: 0;
}

body {
    color: #222;
    font-family: Crimson, Georgia, serif;
    line-height: 24px;
    font-size: 16px;
}

h1:first-of-type {
    padding-top: 80px;
    padding-bottom: 40px;
    font-size: 44px;
}

p {
    padding-bottom: 2px;
}

h1 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
}
