<nav class="side fixed h-full hidden lg:block pl-4 pr-4 pt-0">

    <div class="flex flex-row items-center pt-4 max-w-lg mx-auto">
        <img
            class="max-h-20" 
            src="/assets/images/landing/7239862_business_marketing_startup_rocket_laptop_icon_512px.png" 
            />

        <div class="heading">
            <a href="/">
                <h1>
                <em>Rapid</em> Fullstack Development
            </h1>
        </a>
    </div>
    </div>

    <div class="menu rounded-sm shadow-lg pl-3 pr-3 pt-1 pb-4 max-w-lg mt-6 mx-auto">
        <p class="text-lg">
            Helping developers write reliable and valuable code, <span class="font-bold">quickly</span>
        </p>
        <li class="mt-4">
            <a href="/">Home page</a>
        </li>
        <li class="mt-1">
            <a href="/outline">Book outline</a>
        </li>
        <li class="mt-1">
            <a href="/example-application">The example application</a>
        <li class="mt-1">
            <a href="/chapter-1">Chapter 1: Working <strong>and</strong> valuable</a>
        </li>
        <li class="mt-1">
            <a href="/faq">Frequently asked questions</a>
        </li>
        <li class="mt-1">
            <a href="/#about">About the author</a>
        </li>
    </div>
    
    <div class="w-full pt-10 pl-2">
        <a href="#subscribe" class="subscribe-btn">
             Subscribe for updates
         </a>
     </div>

</nav>
