<nav class="side lg:block pl-4 pr-4 pt-0">

    <div class="flex flex-row items-center pt-4 max-w-lg mx-auto">
        <img
            class="max-h-20" 
            src="/assets/images/landing/7239862_business_marketing_startup_rocket_laptop_icon_512px.png" 
            />

        <div class="heading">
            <a href="/">
                <h1>
                <em>Rapid</em> Fullstack Development
            </h1>
        </a>
    </div>
    </div>

    <div class="menu rounded-sm shadow-lg pl-3 pr-3 pt-1 pb-4 max-w-lg mt-6 mx-auto">
        <p class="text-lg">
            Helping developers write reliable and valuable code, <span class="font-bold">quickly</span>
        </p>
        <li class="mt-4">
            <a href="/" onclick="closeSidebar(event)">Home page</a>
        </li>
        <li class="mt-1">
            <a href="/outline" onclick="closeSidebar(event)">Book outline</a>
        </li>
        <li class="mt-1">
            <a href="/example-application" onclick="closeSidebar(event)">The example application</a>
        <li class="mt-1">
            <a href="/chapter-1" onclick="closeSidebar(event)">Chapter 1: Working <strong>and</strong> valuable</a>
        </li>
        <li class="mt-1">
            <a href="/faq" onclick="closeSidebar(event)">Frequently asked questions</a>
        </li>
        <li class="mt-1">
            <a href="/#recent-news" onclick="closeSidebar(event)">Recent news</a>
        </li>
        <li class="mt-1">
            <a href="/#about" onclick="closeSidebar(event)">About the author</a>
        </li>

        <p class="pt-2 text-xs">
            Rapid Fullstack Development is self-published by the author. 
            Your purchase directly funds the development of this book, future books and the Photosphere application.
        </p>
    </div>
    
    <div class="w-full pt-12 pl-2">
        <div>
            <a 
                target="_blank" 
                href="https://codecapers.gumroad.com/l/rapid-fullstack-development" 
                class="get-early-access button"
                >
                Get early access
            </a>
        </div>

        <div class="mt-14">
            <a href="#subscribe" class="subscribe-btn button" onclick="closeSidebar(event)">
                Subscribe for updates
             </a>
        </div>
     </div>

</nav>
